.gridsc {
	display: grid;
	grid-row: 19em;
	grid-template-columns: repeat(auto-fit, 16em);
	align-items: center;
	justify-content: center;
	margin-left: 3px;
}

@media only screen and (max-width: 600px) {
  .gridsc {
	display: grid;
	grid-row: 15em;
	grid-template-columns: 43% 43%;
	align-items: center;
	justify-content: center;
	margin-left: -15vw;
}
	.center {
		width: 100%;
	}}