.amdiv {
	background-color: black;
	color: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-size: calc(6px + 1vh + 1vw);
	padding: 0px 5vw;
}

.pd {
	padding: 0px 10vw;
}

.parent {
  height: 75vh;
  border: 1px solid black;
  overflow: hidden;
}

.child {
  height: 100%;
  margin-right: -50px; /* Maximum width of scrollbar */
  padding-right: 50px; /* Maximum width of scrollbar */
  overflow-y: scroll;
}