.image {
	width: calc(100px + 5vh + 5vw);
	height: calc(100px + 5vh + 5vw);
	border-radius: 300px;
	margin: 40px;
	opacity: 0.8;
	transition: 1s;
}

.image:hover {
	box-shadow: 0px 0px 8px 5px #888888;
	border: 0px;
	opacity: 1;
	border-radius: 10px;
}